<link rel="import" href="../polymer/polymer-element.html">
<link rel="import" href="../paper-button/paper-button.html">
<link rel="import" href="../b-element/b-element.html">
<link rel="import" href="../c-element/c-element.html">

<dom-module id="a-element">
  <template>
    <style>
      /* :host {
        display: block;
      } */
      h2,
      h4 {
        text-align: center;
      }


      paper-button {
        margin-left: 100px;
      }
    </style>
    <section>
      <template is="dom-if" if="[[componenteA]]">
      <h2>[[title]]</h2>
      <h4>[[description]]</h4>
      <paper-button on-click="btnElemB" raised>[[btnB]]</paper-button>
      <paper-button on-click="btnElemC" raised>[[btnC]]</paper-button>
    </template>
    </section>
    <section>
      <template is="dom-if" if="[[componenteB]]">
        <b-element></b-element>
      </template>
      <template is="dom-if" if="[[componenteC]]">
        <c-element></c-element>
      </template>
    </section>
  </template>

  <script>
    /**
     * `a-element`
     * 
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class AElement extends Polymer.Element {
      static get is() {
        return 'a-element';
      }
      static get properties() {
        return {
          title: {
            type: String,
            value: 'Componente A'
          },
          btnB: {
            type: String,
            value: 'Componente B'
          },
          btnC: {
            type: String,
            value: 'Componente C'
          },
          description: {
            type: String,
            value: 'Componentes B y C'
          },
          componenteB: {
            type: Boolean,
            value: false
          },
          componenteC: {
            type: Boolean,
            value: false
          },
          componenteA: {
            type: Boolean,
            value: true
          }
        };
      }
      btnElemB() {
        this.componenteB = true;
        this.componenteC = false;
        this.componenteA = false;
      }
      btnElemC() {
        this.componenteC = true;
        this.componenteB = false;
        this.componenteA = false;
      }
    }

    window.customElements.define(AElement.is, AElement);
  </script>
</dom-module>